.section1{
    background-color: black;
    margin: 0px;
}
.cabecalho{
    color: brown;
    text-align: center;
    margin: none;
    font-size: 52px;
  
}
#texto{
    color: brown;
    font-size: 40px;
    margin:40px;
    padding-bottom: 20px;
}
#main{
  
    background-color: black;
}
#titulo{
    border-color: brown;
    margin-left: 10px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border-width: thick;
}

#msg{
    border-color: brown;
    margin-left: 10px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border-width: thick;
}

#author{
    border-color: brown;
   margin-left: 10px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border-width: thick;
}
#msg_titulo{
    color: brown;
    margin-left: 30px;
}
#enviarButton{
    text-align: center;
}
#button{
    color: brown;
    border-color: brown;
    border-width: medium;
    border-style:solid;
    border-radius: 10px;
    font-weight: bold;
    margin: 70px;
    width: 90px;
    height: 50px;
    
}
#deletarButton{
    text-align: center;
}
#delete{
    color: brown;
    border-color: brown;
    border-width: medium;
    border-style:solid;
    border-radius: 10px;
    font-weight: bold;
    margin: 70px;
    width: 90px;
    height: 50px;

}


